.rating {
	background: url('../img/star_grey.png') repeat-x;
	width: 72px;
	height: 25px;
}
.rating-active {
	background: url('../img/star2.png') repeat-x;
	height: 25px;
}

.reports .gpu {
	max-width: 25vw;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pagination [href=""] {
	display: none;
}

.table-tbody-striped {
	> tbody:nth-child(odd) {
		td, th {
			background-color: rgba(100, 100, 100, 0.1);
		}
	}

	> tbody:hover {
		td, th {
			background-color: #282828;
		}
	}
}

.compat-report-list {
	td[data-config] {
		border-top: 0;
		padding-top: 0;

		&:empty {
			display: none;
		}
	}

	ul.unstyled {
		margin-bottom: 0;

		li.label {
			display: inline-block;
			margin-right: 1ex;
		}
	}
}

.tablesaw-stack {
	tbody tr {
		border-bottom: none;
	}
}

@media (max-width: 39.9375em) {
	.tablesaw-stack {
		table-layout: fixed;

		&:not(.compat-report-list) tbody tr {
			border-bottom: 1px solid #dfdfdf;
		}

		.title {
			display: block;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}

		.rating {
			display: inline-block;
		}
	}

	.reports .gpu {
		max-width: 100%;
	}
}
